# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Default ignored files
/.idea/workspace.xml
## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.log

# rails specific
*.sqlite3
config/database.yml
log/*
tmp/*

# java specific
*.class
